* {
	box-sizing: border-box;
}

body {
    text-align: center;
}

h1 {
	
}
.control {
	width: 100%;
	text-align: center;
	margin: auto 0 0;
}

.score {
	display: inline-block;
	margin-right: 50px;
}

.timer {
	display: inline-block;
	padding-left: 50px
}