body {
    text-align: center;
}

.control {
	width: 690px;
	text-align: center;
	padding-left: 200px;
}

.score {
	display: inline-block;
	margin-right: 50px;
}

.timer {
	display: inline-block;
	padding-left: 50px
}